
main{
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.columngroup1{
    column-count: 2;
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    border-style: solid;
}

.columngroup2{
    column-count: 2;
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    border-style: solid;
}

.timelycalc, .timelydates, .agingar, .mbivalidate{
    padding: 25px;
}

