/*Fex Container. Flex items of this container are: .columngroup1 and .columngroup2*/
main{
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

/*Flex Container. Flex items of this container are: .timelycalc & .timely dates */
.columngroup1{ 
    column-count: 2;
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    /*flex-grow: 1;*/
}

/*Flex Container. Flex items of this container are: .agingar & .mbivalidate */
.columngroup2{ 
    column-count: 2;
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    /*flex-grow: 1;*/
}

/*add padding to the flex items */
.timelycalc, .timelydates, .agingar, .mbivalidate{
    padding: 25px;
}

#mbivalid{
    font-weight: bold;
}

/*display entered MBI as uppercase regardless of how it is entered, JS function still needs to convert to true uppercase.*/
#mbi{
    text-transform: uppercase;
}
